@model LMS_Project.Models.PostMedia

@{
    ViewData["Title"] = "Edit";
    Layout = "_DashBoardLayout"; 

   var min = DateTime.Now.ToString("yyyy-MM-dd");
}


<div class="row">
    <div class="col-md-4"> 

        <form asp-controller="Media"  asp-route-Id="Id" asp-action="Edit" method="post"> 


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden"  asp-for="Id" />

            <div class="form-group">
                <label asp-for="Title" class="control-label">Title</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Content" class="control-label">Content</label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div> 


            <div class="form-group">
                <label asp-for="VideoLink" class="control-label">Video Link</label>
                <input asp-for="VideoLink" class="form-control" />
                <span asp-validation-for="VideoLink" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="ScheduledTime" class="control-label">Schedule Time</label>
                    <div class="form-group">
                    <input name="ScheduledTime" asp-for="ScheduledTime" min="@min" id="ScheduleTime" type="date" class="rounded" placeholder="Schedule Time" />
               </div>
                <span asp-validation-for="ScheduledTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div> 

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

