@using LMS_Project.ViewModel;
@model List<PostMedia>
@{
    ViewData["Title"] = "Index"; 
    Layout = "_DashBoardLayout";
}

<div class="container" p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
               Today's Post
            </h2>
        </div>
        <div class="col-6">
            <a asp-controller="Media" asp-action="GetPostForm" class="btn btn-primary">
                New Post
            </a>
            <a asp-controller="Account" asp-action="Create" class="btn btn-primary">
                Create Account
            </a>

        </div>

      
        @if (Model != null)
        {
            <div class="table-responsive" style="color: #828282;">

                <table id="user-table" class="table  table-striped table-hover bg-light">
                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>Name</th>
                            <th></th>
                          @*  <th></th>*@
                        </tr>
                    </thead>
                    <tbody>

                        <partial name="_Table_Post_Card" />
                    </tbody>
                </table>
            </div>
        }
        else
        {

            <div class="text-center head-size pt-5">
                No  User
            </div>
        }
    </div>


</div>

