@model LMS_Project.ViewModel.AccountDTO
@{
    ViewData["Title"] = "Create"; 
    Layout = "_DashBoardLayout";
}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
</head>

<form asp-controller="Account"  asp-action="CreatePlatform" method="post">
    <div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Add a project</h5>

                   @* <div class="col-md-4">
                                <select asp-for="Name" class="form-control"
                                asp-items="ViewBag.da"
                                id="Name" name="Name"> </select>
                    </div>  
*@

                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">ProjectName</label>
                        <input asp-for="Name" type="Name" class="form-control" id="Name" placeholder="project">
                    </div>  
               
                 @*   <button type="submit" class="btn btn-primary">Add</button>*@
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Add a Platform</h5>
               @* <select asp-for="Name" asp-items="@ViewBag.da">

                    <option value="">Select name</</option>
                </select>*@ 

                <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">PlatformName</label>
                        <input asp-for="PlatformName" type="PlatformName" class="form-control" id="PlatformName" placeholder="Platform">
                </div>  
               

                   @* <button type="submit" class="btn btn-primary">Add</button>*@
            </div>
        </div>
    </div>
</div>


     <button type="submit" class="btn btn-primary">Submit</button>

</form> 
@*<script>

    function currencyOption(selectOption) {

                        let currencyOpt = document.getElementById("currency-opt")
                        let bankOpt = document.getElementById("bank-opt");
                        //let banklist = document.getElementById("banklist");

                            let rec = document.getElementById("rec");
                        //let account = document.getElementById("account");
                                                                                        let bankCode = $('#BankCode').find(":selected").text();

                                                                                                        let opt = selectOption.options[selectOption.selectedIndex];
                                                                                                        let typeOfPayment = opt.value;
                                                                                                        if (typeOfPayment == "International Payments") {



                                                                                                            currencyOpt.style.display = "block";
                                                                                                            bankOpt.style.display = "none";
                                                                                                            document.getElementById("amount").value = "";

                                                                                                            //banklist.style.display = "none";
                                                                                                            //account.style.display = "none";
                                                                                                            rec.style.display = "block";


                                                                                                            document.getElementById("pay").disabled = false;

                                                                                                        }

                                                                                                        else if (typeOfPayment == "Card") {

                                                                                                            bankOpt.style.display = "none";
                                                                                                            currencyOpt.style.display = "none";
                                                                                                            //banklist.style.display = "none";
                                                                                                            //account.style.display = "none";
                                                                                                            document.getElementById("pay").disabled = false;
                                                                                                            rec.style.display = "block";
                                                                                                        }
                                                                                                        else if (typeOfPayment == "Bank" || typeOfPayment == "Transfer") {


                                                                                                            currencyOpt.style.display = "none";

                                                                                                            rec.style.display = "none";



                                                                                                            document.getElementById("frequency").value = "";

                                                                                                            document.getElementById("recurringCheckbox").value = false;





                                                                                                        }
                                                                                                        else if (typeOfPayment == "USSD") {



                                                                                                            bankOpt.style.display = "block";
                                                                                                            currencyOpt.style.display = "none";
                                                                                                            document.getElementById("amount").value = "";
                                                                                                            document.getElementById("pay").disabled = false;
                                                                                                            //banklist.style.display = "none";
                                                                                                            //account.style.display = "none";


                                                                                                            rec.style.display = "none";
                                                                                                            document.getElementById("frequency").value = "";

                                                                                                            document.getElementById("recurringCheckbox").value = false;
                                                                                                        } else {
                                                                                                            bankOpt.style.display = "none";
                                                                                                            currencyOpt.style.display = "none";
                                                                                                            //banklist.style.display = "none";
                                                                                                            //account.style.display = "none";
                                                                                                            document.getElementById("pay").disabled = false;
                                                                                                            rec.style.display = "block";

                                                                                                        }

                                                                                                    }</script>*@

