@model LMS_Project.ViewModel.AccountDTO

@{
    ViewData["Title"] = "Edit"; 
    Layout = "_DashBoardLayout";
}


<div class="row">
    <div class="col-md-4">
        <form asp-controller="Account" asp-route-Id="PlatformId" asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden"  asp-for="PlatformId" />
           
            <div class="form-group">
                <label asp-for="Name" class="control-label">ProjectName</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlatformName" class="control-label">PlatformName</label>
                <input asp-for="PlatformName" class="form-control" />
                <span asp-validation-for="PlatformName" class="text-danger"></span>
            </div>
         
          @*  <div class="form-group">
                <label asp-for="ScheduledTime" class="control-label"></label>
                <input asp-for="ScheduledTime" class="form-control" type="date" asp-format="{0:yyyy-MM-dd}" />
                <span asp-validation-for="ScheduledTime" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

