
@{
    ViewData["Title"] = "Dashboard"; 
    Layout = "_DashBoardLayout";
}

<div class="container" p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                Platform post
            </h2>
        </div>
        <div class="col-6">
            <a asp-page="/PostMedias/Create" class="btn btn-primary">
                Create New Post
            </a>

        </div>
        <br />

        <br />
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Content
                    </th>
                    <th>
                        Platform
                    </th>
                    <th>
                        Date
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.media)
                {
                    <tr>
                        <td width="50%">
                            @obj.Content
                        </td>
                        <td width="50%">
                            @obj.ChoosePlatorm
                        </td>
                        <td width="50%">
                            @obj.ScheduledTime
                        </td>
                        <td>
                            <a asp-page="Edit" class="btn-outline-primary mx-2">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a asp-page="Delete" class="btn-outline-danger mx-2">
                                <i class="bi bi-trash3-fill"></i>
                            </a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

